<div class="main-container">
  <div class="title-container">
    <h2>SORNA ELECTRICALS</h2>
  </div>
  <div class="content-container">
    <div class="items-table-container">
      <table class="items-table">
        <thead>
          <th>Sl.No</th>
          <th>Name</th>
          <th>Price</th>
          <th>In Stock</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.InStock}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item-input-form-container">
      <form [formGroup]="ItemForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="Name">
        </div>
      
        <div>
          <label for="price">
            Price
          </label>
          <input id="price" type="number" formControlName="Price">
        </div>

        <div>
          <label for="inStock">
            InStock
          </label>
          <input id="inStock" type="number" formControlName="InStock">
        </div>
      
        <button class="button" type="submit">Add</button>
      
      </form>
    </div>
  </div>
</div>